.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.impact {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.mansalva {
    font-family: Mansalva;
}

.zhi-mang-xing {
    font-family: Zhi Mang Xing;
}

body {
    background-color: #b5c678;
    font-size: 1.3rem;
}

article {
    border-radius: 1rem;
    background-color: #0c374d;
    margin: 2rem 10%;
    padding: 1rem;
}

h1,
h2,
h3 {
    color: #0c374d;
    text-align: center;
}

h2 {
    letter-spacing: 0.3rem;
}

sup a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

sup a:hover {
    color: red;
}

article p {
    margin: 1rem;
    color: white;
}

article p::first-letter {
    font-size: 3rem;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: grey;
}